.card {
  border-radius: 0 16px 0 0;
  background-color: white;
  display: flex;
  margin: 16px;
  height: 300px;
  margin-left: 10%;
  margin-right: 10%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50em;
}

.card-img img {
  height: 200px;
  width: 200px;
}

.card-content h3 {
  border-bottom: 2px solid;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1000px) {
  .card-img {
    display: none;
  }

  .card-content {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    height: auto;
  }

  .card-content {
    padding: 8px;
  }
}
