.card {
  border-radius: 0 16px 0 0;
  background-color: white;
  display: flex;
  margin: 16px;
  height: 300px;
  margin-left: 10%;
  margin-right: 10%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card-img img {
  height: 200px;
  width: 200px;
}

.card-content h3 {
  border-bottom: 2px solid;
  margin-bottom: 16px;
}
