.contact {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 10%;
  padding-right: 10%;
}

.contact-p {
  margin-bottom: 24px;
}

.contact-box {
  text-align: center;

}
