.footer {
  background: linear-gradient(#51A0B8, #007DA3);
  color: white;
  min-height: 16vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fab {
  margin: 8px;
}
