.pres {
  display: clamp(60%, 80%, 90%);
  padding: 36px;
  background-color: white;
  padding-right: 10%;
  padding-left: 10%;
}

.pres img {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .pres {
  display: clamp(60%, 80%, 90%);
  padding: 8px;
  background-color: white;
}

}
