.app {
  background-color: lightblue;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  height: 200px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
}
