@import url("components/footer.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/contact.css");
@import url("components/expert.css");
@import url("components/pres.css");
@import url("components/presta.css");
@import url("components/engagement.css");
@import url("components/img-filler.css");

.app {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.btn {
  color: white;
  padding: 10px 20px;
  background: linear-gradient(#51A0B8, #007DA3);
  border-radius: 16px;
  text-decoration: none;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}



.title-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.text-white {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .app-content {
    margin-left: 1%;
    margin-right: 1%;
  }

}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
